<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350744572993-vtph12s25lhr8bt932ej18pgmdb4u9g8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350744572993-vtph12s25lhr8bt932ej18pgmdb4u9g8</string>
	<key>API_KEY</key>
	<string>AIzaSyB2fvDI6rvWZRyHm8sGgtMGaW0PEyvQofg</string>
	<key>GCM_SENDER_ID</key>
	<string>350744572993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lidiane.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-9ae12</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-9ae12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350744572993:ios:16fc956e183e665bfd02c0</string>
</dict>
</plist>